title = "Demonstration"
url = "/"
layout = "default"
==

<div class="content-wrapper">

	<div class="content">

		<div class="content-top">

			<h1>Добро пожаловать в Yell</h1>

			<span>Читайте последние отзывы, ищите лучшие места для посещения<br>общайтесь с новыми людьми и просто хорошо проводите своё время</span>

			<form action="javascript:;" class="content__form">
				
				<input type="search" class="content__form-input">

				<button class="content__form-btn">

	<!-- 				<?xml version="1.0" encoding="iso-8859-1"?>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="20px" height="20px">
					<path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#343e47"/>
					</svg> -->

				</button>

			</form>

			<div class="content__popular-queries">
				
				<a href="javascript:;" class="queries__item">Лучшая стоматология</a>
				<a href="javascript:;" class="queries__item">кафе в москве</a>
				<a href="javascript:;" class="queries__item">Морепродукты</a>

			</div>

		</div>

		<div class="content-bottom">
			
			<span class="place__header">Популярные места рядом (18)</span>

			<div class="place">
				
				<div class="place__item">
					
					<div class="picture"></div>

					<span>McDonald's</span>

				</div>

				<div class="place__item">
					
					<div class="picture"></div>

					<span>McDonald's</span>

				</div>

				<div class="place__item">
					
					<div class="picture"></div>

					<span>McDonald's</span>

				</div>

				<div class="place__item">
					
					<div class="picture"></div>

					<span>McDonald's</span>

				</div>

			</div>

		</div>

	</div>

	<div class="content__comments">
		


	</div>

</div>