.menu {
	position: fixed;
	top: 65px;
	left: 0;
	width: 260px;
	height: 100vh;
	background-color: $bg-menu;
	display: none;

	&__list {
		width: 100%;

		&-item {

			a {
				display: block;
				position: relative;
				line-height: 60px;
				padding: 0 0 0 50px;
				box-shadow: inset 0 0 0 $red;
			    transition: box-shadow .3s linear;

			    &:before {
					content: "1";
					position: absolute;
					left: 20px;
				}

				&:hover {
				    box-shadow: inset 2px 0 0px $red;
				}
			}
		}
	}

	&.open-menu {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	}
}

