header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 65px;
	background-color: $light-gray;
	justify-content: space-between;
	align-items: center;
}

.header {

	&__left {
		display: flex;
		align-items: center;

		&-menu {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 65px;
		    height: 65px;

			&.open-menu {
			    background-color: #2e3841;
			}
		}
	}

	&__search {
		justify-content: center;
		align-items: center;

		input {
			max-width: 600px;
			min-width: 450px;
			width: 100%;
			height: 40px;
			border-radius: 5px 0 0 5px;
			box-shadow: none;
		}

		button {
			height: 40px;
			width: 60px;
			background-color: $red; 
			border-radius: 0 5px 5px 0;
		}
	}
}
