.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 65px);

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        color: #fff;
        background: #736d6d;
    }

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 50px;
        height: 30vh;
    }

    span {
        line-height: 1.5;
    }

    &__form {
        margin: 40px 0 20px 0;
        display: flex;

        &-input {
            width: 450px;
            border-radius: 5px 0 0 5px;
        }

        &-btn {
            border-radius: 0 5px 5px 0;
            border-left: 1px solid #ebecec;
            height: 38px;
            width: 40px;
            background: #fff;
            box-shadow: 0px 2px 5px #ebecec;
        }

        .queries__item {
            border: 1px solid #fff;
            font-size: 12px;
            padding: 5px;
        }
    }
}

.place {
	display: flex;

    &__header {
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.picture {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
}