@import "reset";
@import "normalize";
@import "variables";
@import "header";
@import "aside";
@import "home";

body {
	font-family: 'Roboto', sans-serif;
	color: #57616a;
}

h1 {
	font-size: $fz-h1;
	line-height: $lh-h1;
}

h2 {
	font-size: $fz-h2;
	line-height: $lh-h2;
}

h3 {
	font-size: $fz-h3;
	line-height: $lh-h3;
}

h4 {
	font-size: $fz-h4;
	line-height: $lh-h4;
}

h1,h2,h3,h4 {
	font-weight: 800;
	margin: 1em 0;
}

a:hover {
	background-color: #343e47;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.main-container {
	width: 1070px;
	height: 100%;
	background-color: $bg-container;
	padding: $container-padding;
}

.padding {
	padding: $container-padding;
}