// цвета //

$red: #e92f34;
$black: #000;
$blue: #4d8cff;
$gray: #2e3841;
$light-gray: #343e47;
$white: #fff;
$border-color: #ebecec;


// Семантические цвета //

$bg-header: $gray;
$hover-menu: $light-gray;
$bg-menu: $gray;
$bg-container: $white;


// Заголовки //

$fz-h1: 30px;
$fz-h2: 20px;
$fz-h3: 16px;
$fz-h4: 14px;

$lh-h1: 40px;
$lh-h2: 30px;
$lh-h3: 26px;
$lh-h4: 24px;


// Отступы //

$container-padding: 0 20px;
