<aside class="menu">
	
	<ul class="menu__list">

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

		<li class="menu__list-item"><a href="javascript:;">some text</a></li>

	</ul>

</aside>