<div class="header__left">
	
	<a href="javascript:;" class="header__left-menu"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60.123 60.123" style="enable-background:new 0 0 60.123 60.123;" xml:space="preserve" width="25px" height="25px">
			<g>
				<path d="M57.124,51.893H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,51.893,57.124,51.893z" fill="#5d6977"/>
				<path d="M57.124,33.062H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3   C60.124,31.719,58.781,33.062,57.124,33.062z" fill="#5d6977"/>
				<path d="M57.124,14.231H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,14.231,57.124,14.231z" fill="#5d6977"/>
				<circle cx="4.029" cy="11.463" r="4.029" fill="#5d6977"/>
				<circle cx="4.029" cy="30.062" r="4.029" fill="#5d6977"/>
				<circle cx="4.029" cy="48.661" r="4.029" fill="#5d6977"/>
			</g>
		</svg></span></a>

	<a href="javascript:;" class="header__left-logo">logo</a>

</div>

<div class="header__search flex">
	
	<input type="search" name="search" placeholder="Введите название компании, услуги или события">
	<button></button>

</div>

<div class="header__right">
	
	<a class="header__right-account"><span>Aski</span></a>

	<div class="header__icons-icon">
		
		<a href="javascript:;"><span></span></a>

		<a href="javascript:;"><span></span></a>

		<a href="javascript:;"><span></span></a>

		<a href="javascript:;"><span></span></a>

	</div>

</div>
